[Desktop Entry]
Version=1.0.0
Type=Application
Name=Network Share Browser
Comment=Samba Share Browser
# myscript should wait for user input at the end, else the terminal
# window will disappear immediately.
Exec=smb-browser
#Icon=/usr/share/icons/gnome/48x48/apps/file-manager.png
Categories=Utility;
# desktop should run this in a terminal application
Terminal=false
#StartupNotify=true
#StartupWMClass=myscript
